* {
    box-sizing: border-box;
}

/* Variáveis em CSS */
:root {
   --fundo-vermelho-topo: #4D0B0B;
   --fundo-menu-rodape: #360505;
   --cor-texto: #7a7a7a;
   --tamanho-texto: 16px;
   --cor-separador-menu: #693434;
   --cor-links-destaque: #fff;
   --fundo-links-destaque: #069E03;
   --cor-texto-topo: #fff;
   --cor-texto-rodape: #fff;
   --cor-links-menu: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: var(--tamanho-texto);
    color: var(--cor-texto);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.lnk-destaque {
    text-decoration: none;
    color: var(--cor-links-destaque);
    background-color: var(--fundo-links-destaque);
    padding: 13px 19px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
}