#topo {
    background-color: var(--fundo-vermelho-topo);
    color: var(--cor-texto-topo);
}

#topo > .container {
    padding: 35px 0;
}

#topo form {
    border: 4px solid #410000;
    background-color: #F4F4F4;
    width: 420px;
}

#topo label {
    display: none;
}

#topo input,
#topo button {
    border: none;
    background-color: transparent;
    outline: none;
}

#topo input {
    padding: 15px;
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit;
}

#topo button {
    padding: 0 15px;
    font-size: 20px;
    color: #676666;
}

#topo .lnk-financiamento {
    padding: 15px 26px;
    letter-spacing: 0.12em;
}

#topo .lnk-financiamento i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}


/* Menu do Site */
#menu {
    background-color: var(--fundo-menu-rodape);
    color: var(--cor-links-menu);
    font-size: 12px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 17px 0;
}

#menu a {
    color: inherit;
    text-decoration: inherit;
}

#menu li {
    display: inline-block;
}

#menu .menu-principal li {
    border-right: 1px solid var(--cor-separador-menu);
    padding-right: 20px;
    margin-right: 20px;
}

#menu li:last-of-type {
    border-right: none;
}